.carrousel {
    width: 100%;
    display: flex;
    margin: auto 0;
    overflow: hidden;
    flex-direction: column;

    .-items {
        gap: 25px;
        display: flex;

        .-item {
            width: 700px;
            // display: none;

            // &.-active {
            //     display: block;
            // }

            img {
                width: 100%;
            }
        }
    }

    .-pagination {
        gap: 10px;
        display: flex;
        margin: 0 auto;
        padding-top: 25px;

        .-button {
            border: 0;
            width: 50px;
            height: 5px;
            cursor: pointer;
            background-color: var(--c-gray);

            .-active {
                // 
            }
        }
    }
}