.faq {
    gap: 25px;
    display: flex;

    @include tablet {
        flex-direction: column;
    }

    .-left, .-right {
        flex: 1;
    }

    .-right {
        text-align: center;

        img {
            width: 100%;
            max-width: 500px;
        }
    }
}