:root {
    // Palette
    --c-primary: var(--c-violet);
    --c-secondary: var(--c-cyan);
    --c-threerd: var(--c-white);

    // Primary Color
    --c-white: #ffffff;
    --c-gray: #666666;
    --c-light-gray: #ccc;
    --c-blue: #0c63e4;
    --c-black: #000000;

    // Specific Color
    --c-red-orange: #FF4A17;
    --c-violet: #7a2fda;
    --c-violet-bis: #7f2edb;
    --c-violet-blue: #5932d3;
    --c-night-blue: #5832d3;
    --c-cyan: #dbf2fc;
    --c-light-blue: #ecf9fd;

    // Radient
    --radient-violet: linear-gradient(to right, #903be4 0%, #6132d5 100%);
    --radient-blue: linear-gradient(to right, #45a3f8 0%, #6132d5 100%);
}

@mixin desktop {
    @media screen and (min-width: 992px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 991px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin tiny_mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@import "./parts/site";
@import "./parts/button";
@import "./parts/helper";
@import "./parts/form";
@import "./parts/card";
@import "./parts/card_address";
@import "./parts/card_client";
@import "./parts/card_contact";
@import "./parts/card_blog";
@import "./parts/card_widget";
@import "./parts/card_work";
@import "./parts/card_feature";
@import "./parts/card_news";
@import "./parts/badge";
@import "./parts/category";
@import "./parts/recent_post";
@import "./parts/comment";
@import "./parts/subscribe";
@import "./parts/faq";
@import "./parts/collapse";
@import "./parts/member";
@import "./parts/carrousel";
@import "./parts/trust_banner";
@import "./parts/app_banner";
@import "./parts/feature";
@import "./parts/rotation";
@import "./parts/price";